# Prerequisites
*.d
bin/
bin/*
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vsidx

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.vs
*.suo
*/.vs*
*/.suo
*.dylib
*.dll
vs
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
